WebApplicationClient/src/conf/xml-resources/web-service-references/EnquiryMgtWS/wsdl/localhost_8080/EnquiryMgtWS/EnquiryMgtWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WSS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WSS/" name="EnquiryMgtWS">
<types>
<xsd:schema>
<xsd:import namespace="http://WSS/" schemaLocation="http://localhost:8080/EnquiryMgtWS/EnquiryMgtWS?xsd=1"/>
</xsd:schema>
</types>
<message name="submitEnquery">
<part name="parameters" element="tns:submitEnquery"/>
</message>
<message name="submitEnqueryResponse">
<part name="parameters" element="tns:submitEnqueryResponse"/>
</message>
<message name="AccountNotFoundException">
<part name="fault" element="tns:AccountNotFoundException"/>
</message>
<message name="viewAllEnquiry">
<part name="parameters" element="tns:viewAllEnquiry"/>
</message>
<message name="viewAllEnquiryResponse">
<part name="parameters" element="tns:viewAllEnquiryResponse"/>
</message>
<message name="AdminNotFoundException">
<part name="fault" element="tns:AdminNotFoundException"/>
</message>
<message name="viewOneEnquiry">
<part name="parameters" element="tns:viewOneEnquiry"/>
</message>
<message name="viewOneEnquiryResponse">
<part name="parameters" element="tns:viewOneEnquiryResponse"/>
</message>
<message name="EnquiryNotFoundException">
<part name="fault" element="tns:EnquiryNotFoundException"/>
</message>
<message name="processEnquiry">
<part name="parameters" element="tns:processEnquiry"/>
</message>
<message name="processEnquiryResponse">
<part name="parameters" element="tns:processEnquiryResponse"/>
</message>
<portType name="EnquiryMgtWS">
<operation name="submitEnquery">
<input wsam:Action="http://WSS/EnquiryMgtWS/submitEnqueryRequest" message="tns:submitEnquery"/>
<output wsam:Action="http://WSS/EnquiryMgtWS/submitEnqueryResponse" message="tns:submitEnqueryResponse"/>
<fault message="tns:AccountNotFoundException" name="AccountNotFoundException" wsam:Action="http://WSS/EnquiryMgtWS/submitEnquery/Fault/AccountNotFoundException"/>
</operation>
<operation name="viewAllEnquiry">
<input wsam:Action="http://WSS/EnquiryMgtWS/viewAllEnquiryRequest" message="tns:viewAllEnquiry"/>
<output wsam:Action="http://WSS/EnquiryMgtWS/viewAllEnquiryResponse" message="tns:viewAllEnquiryResponse"/>
<fault message="tns:AdminNotFoundException" name="AdminNotFoundException" wsam:Action="http://WSS/EnquiryMgtWS/viewAllEnquiry/Fault/AdminNotFoundException"/>
</operation>
<operation name="viewOneEnquiry">
<input wsam:Action="http://WSS/EnquiryMgtWS/viewOneEnquiryRequest" message="tns:viewOneEnquiry"/>
<output wsam:Action="http://WSS/EnquiryMgtWS/viewOneEnquiryResponse" message="tns:viewOneEnquiryResponse"/>
<fault message="tns:AdminNotFoundException" name="AdminNotFoundException" wsam:Action="http://WSS/EnquiryMgtWS/viewOneEnquiry/Fault/AdminNotFoundException"/>
<fault message="tns:EnquiryNotFoundException" name="EnquiryNotFoundException" wsam:Action="http://WSS/EnquiryMgtWS/viewOneEnquiry/Fault/EnquiryNotFoundException"/>
</operation>
<operation name="processEnquiry">
<input wsam:Action="http://WSS/EnquiryMgtWS/processEnquiryRequest" message="tns:processEnquiry"/>
<output wsam:Action="http://WSS/EnquiryMgtWS/processEnquiryResponse" message="tns:processEnquiryResponse"/>
<fault message="tns:AdminNotFoundException" name="AdminNotFoundException" wsam:Action="http://WSS/EnquiryMgtWS/processEnquiry/Fault/AdminNotFoundException"/>
<fault message="tns:EnquiryNotFoundException" name="EnquiryNotFoundException" wsam:Action="http://WSS/EnquiryMgtWS/processEnquiry/Fault/EnquiryNotFoundException"/>
</operation>
</portType>
<binding name="EnquiryMgtWSPortBinding" type="tns:EnquiryMgtWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="submitEnquery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AccountNotFoundException">
<soap:fault name="AccountNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="viewAllEnquiry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AdminNotFoundException">
<soap:fault name="AdminNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="viewOneEnquiry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AdminNotFoundException">
<soap:fault name="AdminNotFoundException" use="literal"/>
</fault>
<fault name="EnquiryNotFoundException">
<soap:fault name="EnquiryNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="processEnquiry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AdminNotFoundException">
<soap:fault name="AdminNotFoundException" use="literal"/>
</fault>
<fault name="EnquiryNotFoundException">
<soap:fault name="EnquiryNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="EnquiryMgtWS">
<port name="EnquiryMgtWSPort" binding="tns:EnquiryMgtWSPortBinding">
<soap:address location="http://localhost:8080/EnquiryMgtWS/EnquiryMgtWS"/>
</port>
</service>
</definitions>