WebApplicationClient/src/conf/xml-resources/web-service-references/AccountMgt/wsdl/localhost_8080/AccountMgt/AccountMgt.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WSS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WSS/" name="AccountMgt">
<types>
<xsd:schema>
<xsd:import namespace="http://WSS/" schemaLocation="http://localhost:8080/AccountMgt/AccountMgt?xsd=1"/>
</xsd:schema>
</types>
<message name="checkAccount">
<part name="parameters" element="tns:checkAccount"/>
</message>
<message name="checkAccountResponse">
<part name="parameters" element="tns:checkAccountResponse"/>
</message>
<message name="editAccountInfo">
<part name="parameters" element="tns:editAccountInfo"/>
</message>
<message name="editAccountInfoResponse">
<part name="parameters" element="tns:editAccountInfoResponse"/>
</message>
<message name="checkAdminAccount">
<part name="parameters" element="tns:checkAdminAccount"/>
</message>
<message name="checkAdminAccountResponse">
<part name="parameters" element="tns:checkAdminAccountResponse"/>
</message>
<message name="registerAccount">
<part name="parameters" element="tns:registerAccount"/>
</message>
<message name="registerAccountResponse">
<part name="parameters" element="tns:registerAccountResponse"/>
</message>
<message name="emailActivationCode">
<part name="parameters" element="tns:emailActivationCode"/>
</message>
<message name="emailActivationCodeResponse">
<part name="parameters" element="tns:emailActivationCodeResponse"/>
</message>
<message name="activateAccount">
<part name="parameters" element="tns:activateAccount"/>
</message>
<message name="activateAccountResponse">
<part name="parameters" element="tns:activateAccountResponse"/>
</message>
<message name="memberLogin">
<part name="parameters" element="tns:memberLogin"/>
</message>
<message name="memberLoginResponse">
<part name="parameters" element="tns:memberLoginResponse"/>
</message>
<message name="adminLogin">
<part name="parameters" element="tns:adminLogin"/>
</message>
<message name="adminLoginResponse">
<part name="parameters" element="tns:adminLoginResponse"/>
</message>
<message name="accountInfo">
<part name="parameters" element="tns:accountInfo"/>
</message>
<message name="accountInfoResponse">
<part name="parameters" element="tns:accountInfoResponse"/>
</message>
<message name="adminAccountInfo">
<part name="parameters" element="tns:adminAccountInfo"/>
</message>
<message name="adminAccountInfoResponse">
<part name="parameters" element="tns:adminAccountInfoResponse"/>
</message>
<message name="memberList">
<part name="parameters" element="tns:memberList"/>
</message>
<message name="memberListResponse">
<part name="parameters" element="tns:memberListResponse"/>
</message>
<message name="blockMember">
<part name="parameters" element="tns:blockMember"/>
</message>
<message name="blockMemberResponse">
<part name="parameters" element="tns:blockMemberResponse"/>
</message>
<message name="unblockMember">
<part name="parameters" element="tns:unblockMember"/>
</message>
<message name="unblockMemberResponse">
<part name="parameters" element="tns:unblockMemberResponse"/>
</message>
<message name="memberChangePassword">
<part name="parameters" element="tns:memberChangePassword"/>
</message>
<message name="memberChangePasswordResponse">
<part name="parameters" element="tns:memberChangePasswordResponse"/>
</message>
<message name="adminChangePassword">
<part name="parameters" element="tns:adminChangePassword"/>
</message>
<message name="adminChangePasswordResponse">
<part name="parameters" element="tns:adminChangePasswordResponse"/>
</message>
<message name="memberResetPassword">
<part name="parameters" element="tns:memberResetPassword"/>
</message>
<message name="memberResetPasswordResponse">
<part name="parameters" element="tns:memberResetPasswordResponse"/>
</message>
<message name="checkPurchaseHistory">
<part name="parameters" element="tns:checkPurchaseHistory"/>
</message>
<message name="checkPurchaseHistoryResponse">
<part name="parameters" element="tns:checkPurchaseHistoryResponse"/>
</message>
<message name="deletePurchaseHistory">
<part name="parameters" element="tns:deletePurchaseHistory"/>
</message>
<message name="deletePurchaseHistoryResponse">
<part name="parameters" element="tns:deletePurchaseHistoryResponse"/>
</message>
<message name="changePassword">
<part name="parameters" element="tns:changePassword"/>
</message>
<message name="changePasswordResponse">
<part name="parameters" element="tns:changePasswordResponse"/>
</message>
<message name="testlogin">
<part name="parameters" element="tns:testlogin"/>
</message>
<message name="testloginResponse">
<part name="parameters" element="tns:testloginResponse"/>
</message>
<portType name="AccountMgt">
<operation name="checkAccount">
<input wsam:Action="http://WSS/AccountMgt/checkAccountRequest" message="tns:checkAccount"/>
<output wsam:Action="http://WSS/AccountMgt/checkAccountResponse" message="tns:checkAccountResponse"/>
</operation>
<operation name="editAccountInfo">
<input wsam:Action="http://WSS/AccountMgt/editAccountInfoRequest" message="tns:editAccountInfo"/>
<output wsam:Action="http://WSS/AccountMgt/editAccountInfoResponse" message="tns:editAccountInfoResponse"/>
</operation>
<operation name="checkAdminAccount">
<input wsam:Action="http://WSS/AccountMgt/checkAdminAccountRequest" message="tns:checkAdminAccount"/>
<output wsam:Action="http://WSS/AccountMgt/checkAdminAccountResponse" message="tns:checkAdminAccountResponse"/>
</operation>
<operation name="registerAccount">
<input wsam:Action="http://WSS/AccountMgt/registerAccountRequest" message="tns:registerAccount"/>
<output wsam:Action="http://WSS/AccountMgt/registerAccountResponse" message="tns:registerAccountResponse"/>
</operation>
<operation name="emailActivationCode">
<input wsam:Action="http://WSS/AccountMgt/emailActivationCodeRequest" message="tns:emailActivationCode"/>
<output wsam:Action="http://WSS/AccountMgt/emailActivationCodeResponse" message="tns:emailActivationCodeResponse"/>
</operation>
<operation name="activateAccount">
<input wsam:Action="http://WSS/AccountMgt/activateAccountRequest" message="tns:activateAccount"/>
<output wsam:Action="http://WSS/AccountMgt/activateAccountResponse" message="tns:activateAccountResponse"/>
</operation>
<operation name="memberLogin">
<input wsam:Action="http://WSS/AccountMgt/memberLoginRequest" message="tns:memberLogin"/>
<output wsam:Action="http://WSS/AccountMgt/memberLoginResponse" message="tns:memberLoginResponse"/>
</operation>
<operation name="adminLogin">
<input wsam:Action="http://WSS/AccountMgt/adminLoginRequest" message="tns:adminLogin"/>
<output wsam:Action="http://WSS/AccountMgt/adminLoginResponse" message="tns:adminLoginResponse"/>
</operation>
<operation name="accountInfo">
<input wsam:Action="http://WSS/AccountMgt/accountInfoRequest" message="tns:accountInfo"/>
<output wsam:Action="http://WSS/AccountMgt/accountInfoResponse" message="tns:accountInfoResponse"/>
</operation>
<operation name="adminAccountInfo">
<input wsam:Action="http://WSS/AccountMgt/adminAccountInfoRequest" message="tns:adminAccountInfo"/>
<output wsam:Action="http://WSS/AccountMgt/adminAccountInfoResponse" message="tns:adminAccountInfoResponse"/>
</operation>
<operation name="memberList">
<input wsam:Action="http://WSS/AccountMgt/memberListRequest" message="tns:memberList"/>
<output wsam:Action="http://WSS/AccountMgt/memberListResponse" message="tns:memberListResponse"/>
</operation>
<operation name="blockMember">
<input wsam:Action="http://WSS/AccountMgt/blockMemberRequest" message="tns:blockMember"/>
<output wsam:Action="http://WSS/AccountMgt/blockMemberResponse" message="tns:blockMemberResponse"/>
</operation>
<operation name="unblockMember">
<input wsam:Action="http://WSS/AccountMgt/unblockMemberRequest" message="tns:unblockMember"/>
<output wsam:Action="http://WSS/AccountMgt/unblockMemberResponse" message="tns:unblockMemberResponse"/>
</operation>
<operation name="memberChangePassword">
<input wsam:Action="http://WSS/AccountMgt/memberChangePasswordRequest" message="tns:memberChangePassword"/>
<output wsam:Action="http://WSS/AccountMgt/memberChangePasswordResponse" message="tns:memberChangePasswordResponse"/>
</operation>
<operation name="adminChangePassword">
<input wsam:Action="http://WSS/AccountMgt/adminChangePasswordRequest" message="tns:adminChangePassword"/>
<output wsam:Action="http://WSS/AccountMgt/adminChangePasswordResponse" message="tns:adminChangePasswordResponse"/>
</operation>
<operation name="memberResetPassword">
<input wsam:Action="http://WSS/AccountMgt/memberResetPasswordRequest" message="tns:memberResetPassword"/>
<output wsam:Action="http://WSS/AccountMgt/memberResetPasswordResponse" message="tns:memberResetPasswordResponse"/>
</operation>
<operation name="checkPurchaseHistory">
<input wsam:Action="http://WSS/AccountMgt/checkPurchaseHistoryRequest" message="tns:checkPurchaseHistory"/>
<output wsam:Action="http://WSS/AccountMgt/checkPurchaseHistoryResponse" message="tns:checkPurchaseHistoryResponse"/>
</operation>
<operation name="deletePurchaseHistory">
<input wsam:Action="http://WSS/AccountMgt/deletePurchaseHistoryRequest" message="tns:deletePurchaseHistory"/>
<output wsam:Action="http://WSS/AccountMgt/deletePurchaseHistoryResponse" message="tns:deletePurchaseHistoryResponse"/>
</operation>
<operation name="changePassword">
<input wsam:Action="http://WSS/AccountMgt/changePasswordRequest" message="tns:changePassword"/>
<output wsam:Action="http://WSS/AccountMgt/changePasswordResponse" message="tns:changePasswordResponse"/>
</operation>
<operation name="testlogin">
<input wsam:Action="http://WSS/AccountMgt/testloginRequest" message="tns:testlogin"/>
<output wsam:Action="http://WSS/AccountMgt/testloginResponse" message="tns:testloginResponse"/>
</operation>
</portType>
<binding name="AccountMgtPortBinding" type="tns:AccountMgt">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="checkAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editAccountInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkAdminAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="emailActivationCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="activateAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="memberLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="adminLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="accountInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="adminAccountInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="memberList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="blockMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="unblockMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="memberChangePassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="adminChangePassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="memberResetPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkPurchaseHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletePurchaseHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changePassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="testlogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AccountMgt">
<port name="AccountMgtPort" binding="tns:AccountMgtPortBinding">
<soap:address location="http://localhost:8080/AccountMgt/AccountMgt"/>
</port>
</service>
</definitions>