WebApplicationClient/web/WEB-INF/wsdl/localhost_8080/EnquiryWebService/EnquiryWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://WSS/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WSS/">

<xs:element name="AccountNotFoundException" type="tns:AccountNotFoundException"/>

<xs:element name="AdminNotFoundException" type="tns:AdminNotFoundException"/>

<xs:element name="EnquiryNotFoundException" type="tns:EnquiryNotFoundException"/>

<xs:element name="processEnquiry" type="tns:processEnquiry"/>

<xs:element name="processEnquiryResponse" type="tns:processEnquiryResponse"/>

<xs:element name="submitEnquery" type="tns:submitEnquery"/>

<xs:element name="submitEnqueryResponse" type="tns:submitEnqueryResponse"/>

<xs:element name="viewAllEnquiry" type="tns:viewAllEnquiry"/>

<xs:element name="viewAllEnquiryResponse" type="tns:viewAllEnquiryResponse"/>

<xs:element name="viewOneEnquiry" type="tns:viewOneEnquiry"/>

<xs:element name="viewOneEnquiryResponse" type="tns:viewOneEnquiryResponse"/>

<xs:complexType name="viewAllEnquiry">
<xs:sequence>
<xs:element name="adminId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewAllEnquiryResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AdminNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewOneEnquiry">
<xs:sequence>
<xs:element name="adminId" type="xs:long" minOccurs="0"/>
<xs:element name="enquiryId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewOneEnquiryResponse">
<xs:sequence>
<xs:element name="return" type="tns:enquiryEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryEntity">
<xs:sequence>
<xs:element name="author" type="tns:accountEntity" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="replied" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="accountEntity">
<xs:sequence>
<xs:element name="activationCode" type="xs:string" minOccurs="0"/>
<xs:element name="commentList" type="tns:commentEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="enquiryList" type="tns:enquiryEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="gender" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="isBlocked" type="xs:boolean"/>
<xs:element name="isMember" type="xs:boolean" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="purchase" type="tns:purchaseEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="shoppingcart" type="tns:shoppingCartEntity" minOccurs="0"/>
<xs:element name="transactions" type="tns:transactionEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commentEntity">
<xs:sequence>
<xs:element name="account" type="tns:accountEntity" minOccurs="0"/>
<xs:element name="contents" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="item" type="tns:itemEntity" minOccurs="0"/>
<xs:element name="rating" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="itemEntity">
<xs:sequence>
<xs:element name="category" type="tns:categoryEntity" minOccurs="0"/>
<xs:element name="commentList" type="tns:commentEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="expiringDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="itemName" type="xs:string" minOccurs="0"/>
<xs:element name="itemPurchased" type="tns:itemPurchasedEntity" minOccurs="0"/>
<xs:element name="region" type="tns:regionEntity" minOccurs="0"/>
<xs:element name="tastingNote" type="xs:string" minOccurs="0"/>
<xs:element name="vitage" type="xs:string" minOccurs="0"/>
<xs:element name="winery" type="tns:wineryEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="categoryEntity">
<xs:sequence>
<xs:element name="categoryName" type="xs:string" minOccurs="0"/>
<xs:element name="categorySpec" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="itemList" type="tns:itemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="itemPurchasedEntity">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="item" type="tns:itemEntity" minOccurs="0"/>
<xs:element name="soldQuantity" type="xs:long" minOccurs="0"/>
<xs:element name="totalPrice" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="regionEntity">
<xs:sequence>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="itemList" type="tns:itemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="regionName" type="xs:string" minOccurs="0"/>
<xs:element name="regionSpec" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wineryEntity">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="itemList" type="tns:itemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="wineryAddress" type="xs:string" minOccurs="0"/>
<xs:element name="wineryContact" type="xs:string" minOccurs="0"/>
<xs:element name="wineryName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="purchaseEntity">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="order" type="tns:orderEntity" minOccurs="0"/>
<xs:element name="purchasedDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="quantity" type="xs:int" minOccurs="0"/>
<xs:element name="status" type="xs:boolean"/>
<xs:element name="totalPrice" type="xs:double" minOccurs="0"/>
<xs:element name="transaction" type="tns:transactionEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orderEntity">
<xs:sequence>
<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="purchase" type="tns:purchaseEntity" minOccurs="0"/>
<xs:element name="quantity" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transactionEntity">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="shoppingCartEntity">
<xs:sequence>
<xs:element name="account" type="tns:accountEntity" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="orderList" type="tns:orderEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EnquiryNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="submitEnquery">
<xs:sequence>
<xs:element name="accountId" type="xs:long" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="submitEnqueryResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="AccountNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="processEnquiry">
<xs:sequence>
<xs:element name="adminId" type="xs:long" minOccurs="0"/>
<xs:element name="enquiryId" type="xs:long" minOccurs="0"/>
<xs:element name="replyContent" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="processEnquiryResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>