WebApplicationClient/src/conf/xml-resources/web-service-references/ProductMgtWS/wsdl/localhost_8080/ProductMgtWS/ProductMgtWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WSS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WSS/" name="ProductMgtWS">
<types>
<xsd:schema>
<xsd:import namespace="http://WSS/" schemaLocation="http://localhost:8080/ProductMgtWS/ProductMgtWS?xsd=1"/>
</xsd:schema>
</types>
<message name="searchProduct_1">
<part name="parameters" element="tns:searchProduct_1"/>
</message>
<message name="searchProduct_1Response">
<part name="parameters" element="tns:searchProduct_1Response"/>
</message>
<message name="ProductNotFoundException">
<part name="fault" element="tns:ProductNotFoundException"/>
</message>
<message name="searchProduct">
<part name="parameters" element="tns:searchProduct"/>
</message>
<message name="searchProductResponse">
<part name="parameters" element="tns:searchProductResponse"/>
</message>
<message name="rateProduct">
<part name="parameters" element="tns:rateProduct"/>
</message>
<message name="rateProductResponse">
<part name="parameters" element="tns:rateProductResponse"/>
</message>
<message name="AccountNotFoundException">
<part name="fault" element="tns:AccountNotFoundException"/>
</message>
<message name="viewAllCommentsFromAccount">
<part name="parameters" element="tns:viewAllCommentsFromAccount"/>
</message>
<message name="viewAllCommentsFromAccountResponse">
<part name="parameters" element="tns:viewAllCommentsFromAccountResponse"/>
</message>
<message name="viewAllCommentsOfProduct">
<part name="parameters" element="tns:viewAllCommentsOfProduct"/>
</message>
<message name="viewAllCommentsOfProductResponse">
<part name="parameters" element="tns:viewAllCommentsOfProductResponse"/>
</message>
<portType name="ProductMgtWS">
<operation name="searchProduct_1">
<input wsam:Action="http://WSS/ProductMgtWS/searchProduct_1Request" message="tns:searchProduct_1"/>
<output wsam:Action="http://WSS/ProductMgtWS/searchProduct_1Response" message="tns:searchProduct_1Response"/>
<fault message="tns:ProductNotFoundException" name="ProductNotFoundException" wsam:Action="http://WSS/ProductMgtWS/searchProduct_1/Fault/ProductNotFoundException"/>
</operation>
<operation name="searchProduct">
<input wsam:Action="http://WSS/ProductMgtWS/searchProductRequest" message="tns:searchProduct"/>
<output wsam:Action="http://WSS/ProductMgtWS/searchProductResponse" message="tns:searchProductResponse"/>
</operation>
<operation name="rateProduct">
<input wsam:Action="http://WSS/ProductMgtWS/rateProductRequest" message="tns:rateProduct"/>
<output wsam:Action="http://WSS/ProductMgtWS/rateProductResponse" message="tns:rateProductResponse"/>
<fault message="tns:AccountNotFoundException" name="AccountNotFoundException" wsam:Action="http://WSS/ProductMgtWS/rateProduct/Fault/AccountNotFoundException"/>
<fault message="tns:ProductNotFoundException" name="ProductNotFoundException" wsam:Action="http://WSS/ProductMgtWS/rateProduct/Fault/ProductNotFoundException"/>
</operation>
<operation name="viewAllCommentsFromAccount">
<input wsam:Action="http://WSS/ProductMgtWS/viewAllCommentsFromAccountRequest" message="tns:viewAllCommentsFromAccount"/>
<output wsam:Action="http://WSS/ProductMgtWS/viewAllCommentsFromAccountResponse" message="tns:viewAllCommentsFromAccountResponse"/>
<fault message="tns:AccountNotFoundException" name="AccountNotFoundException" wsam:Action="http://WSS/ProductMgtWS/viewAllCommentsFromAccount/Fault/AccountNotFoundException"/>
</operation>
<operation name="viewAllCommentsOfProduct">
<input wsam:Action="http://WSS/ProductMgtWS/viewAllCommentsOfProductRequest" message="tns:viewAllCommentsOfProduct"/>
<output wsam:Action="http://WSS/ProductMgtWS/viewAllCommentsOfProductResponse" message="tns:viewAllCommentsOfProductResponse"/>
</operation>
</portType>
<binding name="ProductMgtWSPortBinding" type="tns:ProductMgtWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="searchProduct_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProductNotFoundException">
<soap:fault name="ProductNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="searchProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rateProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AccountNotFoundException">
<soap:fault name="AccountNotFoundException" use="literal"/>
</fault>
<fault name="ProductNotFoundException">
<soap:fault name="ProductNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="viewAllCommentsFromAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AccountNotFoundException">
<soap:fault name="AccountNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="viewAllCommentsOfProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductMgtWS">
<port name="ProductMgtWSPort" binding="tns:ProductMgtWSPortBinding">
<soap:address location="http://localhost:8080/ProductMgtWS/ProductMgtWS"/>
</port>
</service>
</definitions>